In [14]:
import pandas as pd
import numpy as np

In [15]:
raw_train_data = pd.read_parquet('../Data/credit_card_data_train.parquet')

In [16]:
raw_train_data.drop(columns=[raw_train_data.columns[0]],inplace=True)
raw_train_data
## useless columns -> first, last, trans_num, trans_date_trans_time, city, zip, city_pop, street
raw_train_data.drop(columns = ['first', 'last', 'trans_num', 'trans_date_trans_time', 'city', 'zip', 'city_pop', 'street'], inplace=True)
raw_train_data

,cc_num,merchant,category,amt,gender,state,lat,long,job,dob,unix_time,merch_lat,merch_long,is_fraud
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,NC,36.0788,-81.1781,"Psychologist, counselling",1988-03-09,1325376018,36.011293,-82.048315,0
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,1325376044,49.159047,-118.186462,0
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,ID,42.1808,-112.2620,Nature conservation officer,1962-01-19,1325376051,43.150704,-112.154481,0
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,MT,46.2306,-112.1138,Patent attorney,1967-01-12,1325376076,47.034331,-112.561071,0
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,VA,38.4207,-79.4629,Dance movement psychotherapist,1986-03-28,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,fraud_Reichel Inc,entertainment,15.56,M,UT,37.7175,-112.4777,Geoscientist,1961-11-24,1371816728,36.841266,-111.690765,0
1296671,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,M,MD,39.2667,-77.5101,"Production assistant, television",1979-12-11,1371816739,38.906881,-78.246528,0
1296672,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,M,NM,32.9396,-105.8189,Naval architect,1967-08-30,1371816752,33.619513,-105.130529,0
1296673,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,M,SD,43.3526,-102.5411,Volunteer coordinator,1980-08-18,1371816816,42.788940,-103.241160,0
1296674,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,M,MT,45.8433,-113.8748,"Therapist, horticultural",1995-08-16,1371816817,46.565983,-114.186110,0

In [17]:
#state, job, dob->age,
reference_date = pd.Timestamp("2021-01-01")
raw_train_data['dob'] = pd.to_datetime(raw_train_data['dob'])
raw_train_data['dob'] = (reference_date - raw_train_data['dob']).dt.days // 365
raw_train_data.rename(columns={'dob':'age'}, inplace=True)

columns_to_be_encoded = ['state','job','category','']

In [18]:
raw_train_data

,cc_num,merchant,category,amt,gender,state,lat,long,job,age,unix_time,merch_lat,merch_long,is_fraud
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,NC,36.0788,-81.1781,"Psychologist, counselling",32,1325376018,36.011293,-82.048315,0
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,42,1325376044,49.159047,-118.186462,0
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,ID,42.1808,-112.2620,Nature conservation officer,58,1325376051,43.150704,-112.154481,0
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,MT,46.2306,-112.1138,Patent attorney,54,1325376076,47.034331,-112.561071,0
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,VA,38.4207,-79.4629,Dance movement psychotherapist,34,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,fraud_Reichel Inc,entertainment,15.56,M,UT,37.7175,-112.4777,Geoscientist,59,1371816728,36.841266,-111.690765,0
1296671,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,M,MD,39.2667,-77.5101,"Production assistant, television",41,1371816739,38.906881,-78.246528,0
1296672,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,M,NM,32.9396,-105.8189,Naval architect,53,1371816752,33.619513,-105.130529,0
1296673,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,M,SD,43.3526,-102.5411,Volunteer coordinator,40,1371816816,42.788940,-103.241160,0
1296674,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,M,MT,45.8433,-113.8748,"Therapist, horticultural",25,1371816817,46.565983,-114.186110,0

In [19]:
raw_train_data['cc_num'] = np.log(raw_train_data['cc_num'])
raw_train_data.rename(columns={'cc_num':'log_cc_num'}, inplace=True)

raw_train_data['unix_time'] = np.log(raw_train_data['unix_time'])
raw_train_data.rename(columns={'unix_time':'log_unix_time'}, inplace=True)

raw_train_data['gender'] = raw_train_data['gender'].map({'M':1 , 'F':0})

In [20]:
raw_train_data

,log_cc_num,merchant,category,amt,gender,state,lat,long,job,age,log_unix_time,merch_lat,merch_long,is_fraud
0,35.533208,"fraud_Rippin, Kub and Mann",misc_net,4.97,0,NC,36.0788,-81.1781,"Psychologist, counselling",32,21.004962,36.011293,-82.048315,0
1,27.169657,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,0,WA,48.8878,-118.2105,Special educational needs teacher,42,21.004962,49.159047,-118.186462,0
2,31.290973,fraud_Lind-Buckridge,entertainment,220.11,1,ID,42.1808,-112.2620,Nature conservation officer,58,21.004962,43.150704,-112.154481,0
3,35.801233,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,1,MT,46.2306,-112.1138,Patent attorney,54,21.004962,47.034331,-112.561071,0
4,33.559371,fraud_Keeling-Crist,misc_pos,41.96,1,VA,38.4207,-79.4629,Dance movement psychotherapist,34,21.004962,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,31.040965,fraud_Reichel Inc,entertainment,15.56,1,UT,37.7175,-112.4777,Geoscientist,59,21.039402,36.841266,-111.690765,0
1296671,36.332392,fraud_Abernathy and Sons,food_dining,51.70,1,MD,39.2667,-77.5101,"Production assistant, television",41,21.039402,38.906881,-78.246528,0
1296672,35.795778,fraud_Stiedemann Ltd,food_dining,105.93,1,NM,32.9396,-105.8189,Naval architect,53,21.039402,33.619513,-105.130529,0
1296673,35.539413,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,1,SD,43.3526,-102.5411,Volunteer coordinator,40,21.039402,42.788940,-103.241160,0
1296674,42.903495,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,1,MT,45.8433,-113.8748,"Therapist, horticultural",25,21.039402,46.565983,-114.186110,0

In [21]:
integer_cols = raw_train_data.select_dtypes(include=['float64','int64']).columns
print(integer_cols)

Index(['log_cc_num', 'amt', 'gender', 'lat', 'long', 'age', 'log_unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='str')

In [22]:
not_integer_cols = raw_train_data.select_dtypes(include=['str']).columns
print(not_integer_cols)

Index(['merchant', 'category', 'state', 'job'], dtype='str')

In [23]:
raw_train_data.to_parquet('../Data/cleaned_training_data.parquet',index=False)