In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_parquet('../Data/cleaned_training_data.parquet')
input_columns = [
    'log_cc_num', 'amt', 'gender', 'lat', 'long', 'age', 'log_unix_time',
    'merch_lat', 'merch_long','merchant', 'category', 'state', 'job']
output_columns = ['is_fraud']

In [3]:
from sklearn.model_selection import train_test_split
X_train,X_val,Y_train,Y_val = train_test_split(data[input_columns], data[output_columns],test_size=0.3,random_state=42)

In [ ]:
X_train.to_parquet('../Data/X_train.parquet')
X_val.to_parquet('../Data/X_val.parquet')

Y_train.to_parquet('../Data/Y_train.parquet')
Y_val.to_parquet('../Data/Y_val.parquet')

In [5]:
from sklearn.preprocessing import OneHotEncoder
columns_to_be_encoded = ['merchant', 'category', 'state', 'job']
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_data = encoder.fit_transform(X_train[columns_to_be_encoded])
encoder.get_feature_names_out()

array(['merchant_fraud_Abbott-Rogahn', 'merchant_fraud_Abbott-Steuber',
       'merchant_fraud_Abernathy and Sons', ..., 'job_Web designer',
       'job_Wellsite geologist', 'job_Writer'],
      shape=(1252,), dtype=object)

In [6]:
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out())
encoded_df.to_parquet('../encodedData/encoaded_features_training_data.parquet')

In [10]:
numeric_cols = ['log_cc_num', 'amt', 'gender', 'lat', 'long', 'age', 'log_unix_time','merch_lat', 'merch_long']

In [8]:
encoded_df.shape

(907672, 1252)

In [11]:
X_train_numeric = X_train[numeric_cols]
X_train_numeric
X_train_numeric = X_train_numeric.join(encoded_df)

# Then delete the old encoded_df to free up space
import gc
del encoded_df
gc.collect()

1647

In [12]:
X_train_numeric.to_parquet('../encodedData/encoaded_training_data_full.parquet')

In [13]:
X_train_numeric

,log_cc_num,amt,gender,lat,long,age,log_unix_time,merch_lat,merch_long,merchant_fraud_Abbott-Rogahn,...,job_Visual merchandiser,job_Volunteer coordinator,job_Warden/ranger,job_Warehouse manager,job_Waste management officer,job_Water engineer,job_Water quality scientist,job_Web designer,job_Wellsite geologist,job_Writer
992821,35.346387,2.38,1,38.4921,-85.4524,24,21.031074,38.238540,-85.331889,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833489,32.993054,6.53,0,41.6060,-109.2300,36,21.027257,42.402782,-109.452891,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
517107,36.417437,6.62,1,41.5500,-87.4569,38,21.019440,41.876220,-88.320794,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166051,36.072484,24.86,0,38.8856,-77.1802,37,21.010705,38.780532,-77.549100,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
473161,32.992978,25.65,0,32.1530,-90.1217,36,21.018470,32.376997,-89.326699,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,36.415017,72.38,0,45.8327,-91.0144,55,21.009068,45.043710,-90.231846,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259178,33.565640,2.33,0,41.4682,-72.5751,56,21.013355,40.711495,-71.670634,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131932,35.815059,118.27,0,35.0203,-106.5503,42,21.009704,34.849069,-106.219762,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671155,31.036998,5.60,1,48.6669,-96.5969,79,21.023460,47.807830,-97.498754,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121958,31.282471,140.73,0,34.9572,-81.9916,31,21.009434,34.989024,-82.842443,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
import gc
del X_train_numeric
gc.collect()

14

In [15]:
columns_to_be_encoded = ['merchant', 'category', 'state', 'job']
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_data = encoder.fit_transform(X_val[columns_to_be_encoded])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out())
encoded_df.to_parquet('../encodedData/encoaded_features_validation_data.parquet')
X_val_numeric = X_val[numeric_cols]
X_val_numeric
X_val_numeric = X_val_numeric.join(encoded_df)

# Then delete the old encoded_df to free up space
import gc
del encoded_df
gc.collect()

0

In [16]:
X_val_numeric.to_parquet('../encodedData/encoaded_validation_data_full.parquet')

In [17]:
import gc
del X_val_numeric
gc.collect()

0